<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <meta name="description" content="The Tunisian Open Source Initiative (TOSA) - Promoting open source in Tunisia.">
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:description" content="The Tunisian Open Source Initiative (TOSA) - Promoting open source in Tunisia.">
  <meta property="og:url" content="{{ .Permalink }}">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Merriweather:300,400,700" rel="stylesheet">
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>
  <div class="container">
    <header role="banner">
      <h1>
      <a href="/" class="header-link">The Tunisian Open Source Initiative (TOSA) 🇹🇳</a>
      </h1>
    </header>

    <main class="content" role="main">
      {{ block "main" . }}{{ end }}
    </main>

     <footer role="contentinfo">
      <p>© 2024 The Tunisian Open Source Initiative</p>
      <div class="footer-buttons">
        <a class="github-button" href="https://github.com/Tunisian-Open-Source-Initiative" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" data-show-count="true" aria-label="Follow @Tunisian-Open-Source-Initiative on GitHub">Follow @Tunisian-Open-Source-Initiative</a>
        <a class="discord-button" href="https://discord.gg/u42WYAnu" data-color-scheme="dark" data-size="large" aria-label="Join our Discord server">Join our Discord server</a>
      </div>
    </footer>
  </div>
</body>
</html>